@charset "utf-8";
/* CSS Document */


strong,b{ font-weight:bold;}

p{ padding:0 0 20px 0; clear:both;}
small{
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	letter-spacing:0px;
}

img{ border:none;}

/* resize:none doesn't exist in CSS Level 2.1 */
textarea{ resize:none; overflow:auto;}

a, a:active a:visited{ text-decoration:underline; color:#093;}

body a:hover{ text-decoration:none; color:#F00; }

ul, ol{ list-style-position:outside; margin:0 0 20px 0; padding:0 0 20px; }

small{ font-size:11px;}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{ font:normal normal normal 12px/18px Arial, Helvetica, sans-serif; padding: 0 0 20px; color:#0577a3; letter-spacing:-1px;}
h1, .h1{ font-size:18px;}
h2, .h2{ font-size:16px; font-weight:bold;}
h3, .h3{ font-size:14px; font-weight:bold;}
h4, .h4{ font-size:13px; }

/* Common Class */

.FL{ float:left;}
.FR{ float:right;}

.hide{ display:none !important;}
.unhide{ display:block !important;}

.VAT{ vertical-align:top;}
.VAM{ vertical-align:middle;}
.VAB{ vertical-align:bottom}
.VABaseline{ vertical-align:baseline}

.TAL{ text-align:left}
.TAC{ text-align:center;}
.TAR{ text-align:right;}
.TAJ{ text-align:justify;}

.clear{ clear:both}
.clearL{ clear:left;}
.clearR{ clear:right;}


/*Colors*/
.green{ color:#008000;}
.orange{ color:#ff6000;}
.lightbluegreen{ color:#aeffd2;}
.blue{ color:#0990c2;}
.white{ color:#FFF;}
.lightgray{ color:#b7b7b7;}
.red{ color:#F00;}

/*Custom Class */

.body-subpage{
	background:#fcfcf9 url(../images/body-subpage.jpg) repeat-x;
}



