@charset "utf-8";
/* CSS Document 

Design and Code by Tyrone Prieto
Location: Philippines
Email: tyrone.prieto@ymail.com or info@tyroneprieto.com
Website: www.tyroneprieto.com

*/

html{ background:none;}

body{ font:normal normal normal 12px/18px Arial, Helvetica, sans-serif; color:#010000; background:#f7f7ef url(../images/body-bg.jpg) repeat-x;  width:100%; }



#mainwrapper{
	width:960px;
	margin:0 auto;
}

	#topwrapper{
		width:100%;
		height:105px;
		background:url(../images/top.jpg) no-repeat right top;
	}
		#lang-wrapper{
			width:599px;
			height:31px;
			
			padding-top:20px;
			
		}
		
			#lang-wrapper ul, #lang-wrapper ul li{
				margin:0;
				padding:0;
				
				
			}
			#lang-wrapper ul li{
				list-style:none outside;
				display:inline;
				line-height:11px;
				font-size:11px;
				color:#FFF;
				float:left;
				margin-right:5px;
			}
			#lang-wrapper ul li a, #lang-wrapper ul li a a:active a:visited{
				width:16px;
				float:left;
				background:url(../images/languages.jpg) no-repeat;
				overflow:hidden;
				text-indent:-999%;
			}
			
				#lang-wrapper ul li a.lang-english{
					background-position:left top;
				}
					#lang-wrapper ul li a.lang-english-active, #lang-wrapper ul li a.lang-english:hover{
						background-position:left -11px;
					}
				
				#lang-wrapper ul li a.lang-spanish{
					background-position:-16px top;
				}
					#lang-wrapper ul li a.lang-spanish-active, #lang-wrapper ul li a.lang-spanish:hover{
						background-position:-16px -11px;
					}
					
				#lang-wrapper ul li a.lang-french{
					background-position:-16px top;
				}
				#lang-wrapper ul li a.lang-french-active, #lang-wrapper ul li a.lang-french:hover{
					background-position:-32px -11px;
				}
				
				
		#mainmenu{
			width:599px;
			height:54px;
			float:right;
		}
		
		#mainmenu ul, #mainmenu ul li{
			list-style:none outside;
			display:inline;
			margin:0;
			padding:0;
		}
		#mainmenu ul li a, #mainmenu ul li a:active a:visited{
			text-indent:-999%;
			overflow:hidden;
			float:left;
			height:54px;
			background:url(../images/mainmenu.jpg) no-repeat;
		}
		
		#mainmenu ul li a.home{
			width:69px;
			background-position:left top;

		}
		#mainmenu ul li a.home-active, #mainmenu ul li a.home:hover{
			background-position:0 -54px;

		}
		
		#mainmenu ul li a.ourworks{
			width:94px;
			background-position:-69px top

		}
		#mainmenu ul li a.ourworks-active, #mainmenu ul li a.ourworks:hover{
			background-position:-69px -54px;
		}
		
		#mainmenu ul li a.services{
			width:87px;
			background-position:-163px top;

		}
		#mainmenu ul li a.services-active, #mainmenu ul li a.services:hover{
			background-position:-163px -54px;

		}
		
		
		#mainmenu ul li a.freequote{
			width:97px;
			background-position:-250px top;

		}
		#mainmenu ul li a.freequote-active, #mainmenu ul li a.freequote:hover{
			background-position:-250px -54px;
		}
		
		#mainmenu ul li a.aboutus{
			width:89px;
			background-position:-347px top;
		}
		#mainmenu ul li a.aboutus-active, #mainmenu ul li a.aboutus:hover{
			background-position:-347px -54px;
		}
		
		#mainmenu ul li a.blog{
			width:65px;
			background-position:-436px top;
		}
		#mainmenu ul li a.blog-active, #mainmenu ul li a.blog:hover{
			background-position:-436px -54px;
		}
		
		#mainmenu ul li a.contactus{
			width:98px;
			background-position:-501px top;
		}
		#mainmenu ul li a.contactus-active, #mainmenu ul li a.contactus:hover{
			background-position:-501px -54px;
		}
		
		
		#featured-wrapper{
			width:960px;
		}
			.intro-text, #gallery-wrapper{
				height:447px;
				float:left;
				overflow:hidden;
			}
			.intro-text{
				width:350px;
			}
				.intro-text p{
					font-size:13px;
					font-weight:bold;
				}
				
				.intro-text ul.intro-buttons, .intro-text ul.intro-buttons li{
					margin:0;
					padding:0;
					list-style:none outside;
					display:inline;
					
				}
				.intro-text ul.intro-buttons li a {
					float:left;
				}
				
			#gallery-wrapper{
				width:610px;
			}
			
		#maincontent{
			padding:10px 10px;
			width:940px;
		}
		
		#subpage-content{
			width:960px;
		}
			#headers{
				width:100%;
				height:248px;
				/*background:url(../images/subheaders.jpg) no-repeat;*/
			}
			#headers h1{
				font-family:Georgia, "Times New Roman", Times, serif;
				color:#2e7e0e;
				padding-top:20px;
			}
				
				/*Subpage Headers*/
				
				
				#subpage-content .our-works{
					/* background-position:left top; */
					background:url(../images/subhead-our-works.jpg) no-repeat;
				}
				
				#subpage-content .services{
					/* background-position:0 -248px; */
					background:url(../images/subhead-services.jpg) no-repeat;
				}
				#subpage-content .free-quote{
					/* background-position:0 -496px; */
					background:url(../images/subhead-free-quote.jpg) no-repeat;
				}
				
				#subpage-content .about-us{
					/* background-position:0 -744px; */
					background:url(../images/subhead-about-us.jpg) no-repeat;
				}
				
				#subpage-content .blog{
					/* background-position:0 -992px; */
					background:url(../images/subhead-blog.jpg) no-repeat;
				}
				
				#subpage-content .contact-us{
					/* background-position:0 -1240px; */
					background:url(../images/subhead-contact-us.jpg) no-repeat;
				}
				
				#subpage-content .who-are-we{
					/* background-position:0 -1488px; */
					background:url(../images/subhead-who-are-we.jpg) no-repeat;
				}
				#subpage-content .testimonial{
					/* background-position:0 -1736px; */
					background:url(../images/subhead-testimonial.jpg) no-repeat;
				}
				
			#content-wrapper{
				width:900px;
				min-height:199px;
				height:auto !important;
				height:199px;
				background:#fcfcfc url(../images/content-bg.jpg) no-repeat;
				padding:0 30px 20px 30px;
			}
			
			.formswrapper{
				width:620px;
				border:1px solid #a4a4a4;
				background:#f4f4f4;
				margin-left:4px;
				float:left;
				
			}
			
				.ribbonsettings{
					position:absolute;
					margin:-7px 0 0 -5px;
					z-index:998px;
					
				}
				
				.formswrapper .formswrapper-inner{
					
					min-height:290px;
					height:auto !important;
					height:290px;
					
					background:#f4f4f4;
					padding:20px 20px;
					z-index:999px;
				}
				
				.formswrapper .formswrapper-inner input, .formswrapper .formswrapper-inner textarea, .formswrapper .formswrapper-inner select{
					background:#FFF;
					border:1px solid #044c79;
					height:21px;
					width:99%;
				}
				
				.formswrapper .formswrapper-inner h1, .formswrapper .formswrapper-inner p{
					
					z-index:9999px;
					display:block;
					z-index:9999999px;
			
				}
				
			.forms-rightpane{
				float:left;
				width:254px;
				padding-top:300px;
				padding-left:20px;
				background:#f6f6f6;
			}
			
			#content-wrapper h1, 
			#content-wrapper h2, 
			#content-wrapper h3,
			#content-wrapper h4,
			#content-wrapper h5,
			#content-wrapper h6{
				font-family:Georgia, "Times New Roman", Times, serif;
			}
			
				#leftpane{
					width:630px;
					float:left;
					padding-right:20px;
				}
				#leftpane h1.maintitle{
					width:620px;
					height:32px;
					background:url(../images/main-title-bg.jpg) no-repeat;
					line-height:42px;
					padding-left:10px;
				}
				
				.blogwrapper{
					width:630px;
					float:left;
				}
				
					.blogwrapper .blog-titles{
						width:630px;
						height:80px;
						background:url(../images/blog-header.jpg) no-repeat;
						letter-spacing:0px;
						font-weight:normal;
						font-family:"Segoe UI", "myriad Pro", georgia, arial !important;
						letter-spacing:0px !important;
						
					}
					
					.blogwrapper .blog-titles span.blog-title-text{
						height:33px;
						line-height:33px;
						padding-top:40px;
						float:left;
						color:#FFF;
					}
					
					.blogwrapper .blog-titles span.calendar{
						width:90px;
						float:left;
						text-align:center;
					}
					
					span.dateholder{
						width:90px;
						padding:17px 0 10px;
						line-height:30px;
						float:left;
						font-family:Georgia, "Times New Roman", Times, serif;
						font-weight:bold;
						font-size:30px;
					}
					
					span.month-year-holder{
						width:90px;
						float:left;
						font-size:11px;
						color:#FFF;
						font-family:Arial, Helvetica, sans-serif;
						
						
					}
					
					.blog-details{
						padding:0 20px;
						width:590px;
					}
					
					.blog-details p{
						text-align:justify;
					}
					
					.testi-text-wrapper{
						width:590px;
						border:5px solid #d0c8bd;
						padding:15px 15px;
						background:#FFF url(../images/testi-bg.jpg) repeat-x center bottom;	
						margin:0 0 15px 0;
						
					}
					
					.testi-text-wrapper p{
						padding:0 0 10px 0;
						
						min-height:40px;
						height:auto !important;
						height:40px;
					}
					
					/* Pagination Settings */
					
					.pagination-wrapper{
						width:100%;
						border-top:1px solid #CCC;
						padding-top:10px;
					}
					
					ul.pagination, ul.pagination li{
						list-style:none outside;
						display:inline;
						margin:0;
						padding:0;
						
					}
					
					ul.pagination li{
						float:left;
						line-height:20px;
						text-align:center;
						
						background:#525051;
						margin-right:1px;
						padding:0 10px;
						border:1px solid #343132;
						
						color:#FFF;
						font-size:11px;
					}
				
					
					ul.pagination li a, ul.pagination li a a:active a:visited{
						float:left;
						line-height:20px;
						color:#aad1fd;
						text-decoration:none;
						font-size:11px;
					}
					ul.pagination li a.page-active, ul.pagination li a:hover {
						color:#FFF;
					}
					
				#rightpane{
					width:250px;
					float:left;
				}
				
					.rightpane-header{
						width:250px;
						height:47px;
						background:url(../images/right-pane-header.jpg) no-repeat;
					}
					
					.rightpane-header h2{
						padding-top:10px;
						padding-left:20px;
						color:#FFF;
						font-family:Arial, Helvetica, sans-serif !important;
					}
					
					ul.rightnavigation{
						margin:0 0 20px 0;
						padding:0;
						width:250px;
						float:left;
						line-height:40px;
					}
					
					ul.rightnavigation li{
						
						list-style:none outside;
						display:block;
						float:left;
						width:250px;
						line-height:40px;
						
					}
					
					ul.rightnavigation li a, ul.rightnavigation li a a:active a:visited{
						
						width:230px;
						float:left;

						line-height:39px;
						padding:0 0 0 20px;
						
						font-weight:bold;
						color:#6b6b01;
						
						border-bottom:1px solid #e8e8e7
					}
					
					#rightpane ul.rightnavigation li a.rightnav-active, ul.rightnavigation li a:hover{
						color:#000;
						background:#d9dfc9 url(../images/rightnav-bg.jpg) no-repeat;
						text-decoration:none;
					}
					
					.featured-prof-wrapper{
					
						float:left;
						clear:both;
					}
					
					.featured-prof-wrapper, .featured-text, .featured-footer{
						width:250px;
					}
					
					.featured-text{
						padding-top:75px;
						background:#150304 url(../images/featured-prof-bg.jpg) no-repeat;
					}
					
						.featured-text p{
							padding:0 10px 20px;
							color:#FFF;
						}
					
					.featured-footer{
						padding-top:20px;
						height:69px;
						background:url(../images/featured-prof-footer.jpg) no-repeat;
			
					}
					
		
		#services-wrapper{
			float:left;
			width:100%;
			background:#f2f1f1 url(../images/services-bg.jpg) repeat-x;
		}
		
			#services-inner{
				width:960px;
				margin:0 auto;
				min-height:92px;
				height:auto !important;
				height:92px;
				
			}
				/*
				.three-column-wrapper{
					width:100%;
				}
					.three-column-wrapper .three-col-1, 
					.three-column-wrapper .three-col-2
					{
						width:303px;
						float:left;
						padding-right:10px;
					}
					.three-column-wrapper .three-col-3{
						width:313px;
						float:left;
					}
					
					.three-column-wrapper .three-col-1 p, 
					.three-column-wrapper .three-col-2 p{
						padding-left:10px;
					}
					
					.three-column-wrapper .three-col-1 div, 
					.three-column-wrapper .three-col-2 div{
						margin-bottom:20px;
						text-align:center;
						
					}
					
					.get-started{
						float:right;
						width:307px;
						height:411px;
						background:url(../images/get-started.jpg) no-repeat;
					}
					
					*/
					
					/*New Styles*/
					
					div.index-content-body{
						float:left;
						width:920px;
						padding:20px;
						background:url(../images/services-inner.jpg) repeat-y;
						clear:both;
					}
					
					#services-inner div.index-content-body div.first-column,#services-inner div.index-content-body div.second-column{
						float:left;
						width:445px;
					}
					
					#services-inner div.index-content-body div.first-column{
						
						padding-right:15px;
					}
					#services-inner div.index-content-body div.second-column{
						
						padding-left:15px;
					}
					
					
					#services-menu {
						
						padding:0;
						margin:0;
						list-style:none outside;
						display:inline;
						
					}
					
					#services-menu li{
						
						float:left;
						width:240px;
					}
					
					#services-menu li a, #services-menu li a a:active a:visited{
						float:left;
						width:240px;
						height:92px;
						text-indent:-999%;
						overflow:hidden;
						background:url(../images/services.jpg) no-repeat;
					}
					
						#services-menu li a.custom-webdesign{
							background-position:left top;
						}
						
						#services-menu li a.internet-marketing{
							background-position:-240px top;
						}
						
						#services-menu li a.seo-ppc{
							background-position:-480px top
						}
						
						#services-menu li a.software-development{
							background-position:-720px top
						}
				
		#footer-wrapper{
			width:100%;
			background:#757474 url(../images/footer-bg.jpg) repeat-x;
		}
			#footer-inner{
				width:940px;
				padding:20px 10px;
				margin:0 auto;
				
			}
			
			#footer-inner p{
				color:#FFF;
			}
			
			#footer-inner strong{
				color:#233501;
			}
			
			#footer-inner a, #footer-inner a a:active a:visited{
				color:#233501;
				text-decoration:underline;
				font-weight:bold;
			}
				#footer-inner a:hover{
					color:#f0ff00;
					text-decoration:none;
				}
			
			#footer-inner h1{
				line-height:36px;
				border-bottom:1px dotted #acacac;
				
				font-family:Georgia, "Times New Roman", Times, serif;
				font-size:18px;
				color:000000;
				font-weight:normal;
				margin-bottom:20px;
				color:#fccc0a;
			}
			.four-column-wrapper{
				width:100%;
				
			}
				.four-column-wrapper .four-col-1, 
				.four-column-wrapper .four-col-2, 
				.four-column-wrapper .four-col-3
				{
					width:225px;
					padding-right:10px;
					float:left;
					
				}
				.four-column-wrapper .four-col-4{
					width:235px;
					float:left;
					clear:right;
				}
				
				
				
				ol#news-updates,ol#news-updates li{
					margin:0;
					padding:0;
					list-style:none outside;
					display:block;
					line-height:18px;
					
				}
				
				ol#news-updates li a, ol#news-updates li a a:active a:visited{
					text-decoration:none;
					width:100%;
					cursor:default;
				}
				
				ol#news-updates li span{ 
					color:#FFF;
					font-size:11px;
					font-weight:normal;
					text-decoration:underline;
					margin-top:-3px;
				}
				
				ol#news-updates li a:hover span{
					text-decoration:none;
					color:#f0ff00 !important;
					cursor:pointer;
				}
				
			#footer-lower{
				width:100%;
				line-height:60px;
				color:#cacaca;
				border-top:1px dotted #acacac;
			}
				ul.footer-menus, ul.footer-menus li{
					margin:0;
					padding:0;
					list-style:none outside;
					display:inline;
				}
				
				ul.footer-menus li a{
					padding:0 5px;
				}
				



/* begin shadowbox css*/
/*_________________________________________________________________  Overlay  */
#shadowbox_overlay {visibility: hidden;position: absolute;display: block; margin: 0;padding: 0;top: 0;left: 0;z-index: 998;}
/*_______________________________________________________________  Container  */
#shadowbox_container {position: fixed;height: 0px;width: 100%;margin: 0;padding: 0;top: 0;left: 0;z-index: 999;text-align: center; /* centers in quirks and IE */}
/*_______________________________________________________________  Shadowbox  */
#shadowbox {display: none;visibility: hidden;margin: 0 auto;position: relative;font-family: 'Lucida Grande', Tahoma, sans-serif;text-align: left; /* reset left alignment */}

/*___________________________________________________________________  Title  */
/*
HTML snapshot:
<div id="shadowbox_title">
  <div id="shadowbox_title_inner">Title Here</div>
</div>
*/
#shadowbox_title {height: 25px;padding: 0;overflow: hidden;}
#shadowbox_title_inner {height: 16px;font-size: 16px;line-height: 16px;white-space: nowrap;padding: 5px 0 4px 8px;color: #fff;}

/*____________________________________________________________________  Body  */
/*
HTML snapsnot:
<div id="shadowbox_body">
  <div id="shadowbox_body_inner">
	<img src="my_image.jpg" id="shadowbox_content" height="350" width="580">
  </div>
  <div id="shadowbox_loading">
	<img src="images/loading.gif" alt="loading"></div>
	<span><a href="javascript:Shadowbox.close();">Cancel</a></span>
  </div>

</div>
*/
#shadowbox_body {position: relative;overflow: hidden;margin: 0;padding: 0;border: 2px solid #fff;background-color: #000;}
#shadowbox_body_inner {position: relative;overflow: hidden;}
#shadowbox_loading {position: absolute;top: 0;left: 0;height: 10000px; /* overflow:hidden will clip this */width: 100%;background-color: #222;}
#shadowbox_loading img {float: left;margin: 10px 10px 0 10px;}
#shadowbox_loading span {float: left;margin-top: 16px;font-size: 10px;}
#shadowbox_loading span a, #shadowbox_loading span a:link, #shadowbox_loading span a:visited {color: #fff;}
#shadowbox_content.html { /* make html content scrollable */height: 100%;width: 100%;overflow: auto;}

/*_________________________________________________________________  Toolbar  */
/*
HTML snapshot:
<div id="shadowbox_toolbar">
  <div id="shadowbox_toolbar_inner">
	<div id="shadowbox_nav_close">
	  <a href="javascript:Shadowbox.close();"><span class="shortcut">C</span>lose</a>
	</div>
	<div id="shadowbox_nav_next">
	  <a href="javascript:Shadowbox.next();"><span class="shortcut">N</span>ext</a>
	</div>
	<div id="shadowbox_nav_previous">
	  <a href="javascript:Shadowbox.previous();"><span class="shortcut">P</span>revious</a>
	</div>
	<div id="shadowbox_counter">
	  <a href="javascript:Shadowbox.change(0);">1</a>
	  <a href="javascript:Shadowbox.change(1);" class="shadowbox_counter_current">2</a>
	  <a href="javascript:Shadowbox.change(2);">3</a>
	</div>
  </div>

</div>
*/
#shadowbox_toolbar {margin: 0;padding: 0;height: 20px;overflow: hidden;}
#shadowbox_toolbar_inner {height: 20px;color: #fff;}
#shadowbox_toolbar_inner div {padding-top: 4px;padding-bottom: 2px;font-size: 10px;height: 10px;line-height: 10px;}
#shadowbox_toolbar_inner div span.shortcut {text-decoration: underline;font-weight: bold;}
#shadowbox_toolbar_inner div a {text-decoration: none;color: #fff;}
#shadowbox_nav_close, #shadowbox_nav_previous, #shadowbox_nav_next {float: right;padding-right: 10px;}
#shadowbox_counter {float: left;padding-left: 10px;}
#shadowbox_counter a {padding: 0 4px 0 0;}
#shadowbox_counter a.shadowbox_counter_current {text-decoration: underline;font-weight: bold;}

/*________________________________________________________________  Messages  */
div.shadowbox_message {text-align: center;padding: 10px;}
div.shadowbox_message a:link,
div.shadowbox_message a:visited {text-decoration: none;color: #bed333;}
div.shadowbox_message a:hover,div.shadowbox_message a:focus {text-decoration: underline;}
	
/* end of shadowbox css*/