#SexyAlertBox-Box {
  padding-bottom: 24px;
  background: url('../images/sexyalertbox/bg-box-bottom.png') bottom left no-repeat !important;
  background: url('../images/sexyalertbox/bg-box-bottom.gif') bottom left no-repeat;
}

#SexyAlertBox-InBox {
  padding-top: 15px;
  background: url('../images/sexyalertbox/bg-box-top.png') top left no-repeat !important;	
  background: url('../images/sexyalertbox/bg-box-top.gif') top left no-repeat;	
}

#SexyAlertBox-BoxContent {
  background: url('../images/sexyalertbox/bg-box-body.png') top left repeat-y !important;
  background: url('../images/sexyalertbox/bg-box-body.gif') top left repeat-y;
  padding: 0px 20px;
}

#SexyAlertBox-BoxContenedor {
  padding: 0px 20px 5px 55px;
  text-align: left;
  font-family:Verdana;
  font-size:12px;
  color:#000;
}

#SexyAlertBox-BoxContenedor h1,#SexyAlertBox-BoxContenedor h2,#SexyAlertBox-BoxContenedor h3,#SexyAlertBox-BoxContenedor b,#SexyAlertBox-BoxContenedor strong{
  text-align: left;
  font-family:Verdana;
  font-size:12px;
  color:#000;
  font-weight:bold;
  margin:0px;
  padding:0px;
  letter-spacing:0px;
}

#SexyAlertBox-Buttons{
  text-align:right;
  
}

#SexyAlertBox-Buttons input {
  margin: 10px 10px;
}

#SexyAlertBox-BoxContenedor #BoxPromptInput{
  margin-top:5px;
}

#SexyAlertBox-Box .BoxAlert {
  background: url('../images/sexyalertbox/dialog-warning.png') top left no-repeat;
}

#SexyAlertBox-Box .BoxConfirm {
  background: url('../images/sexyalertbox/dialog-help.png') top left no-repeat;
}

#SexyAlertBox-Box .BoxPrompt {
  background: url('../images/sexyalertbox/dialog-help.png') top left no-repeat;
}

#SexyAlertBox-Box .BoxInfo {
  background: url('../images/sexyalertbox/dialog-information.png') top left no-repeat;
}

#SexyAlertBox-Box .BoxError {
  background: url('../images/sexyalertbox/dialog-error.png') top left no-repeat;
}