@charset "utf-8";
/** CSS Document **/


#mainwrapper{
	width:100%;
	height:100%;
	
}
	#header-wrapper{
		width:100%;
		height:59px;
	}
		#header-wrapper ul{
			margin:0;
			padding:0;
		}
		#header-wrapper li{
			list-style:none outside;
			padding:0 0 0 20px;
			float:left;
			display:inline;
		}
		
		#header-wrapper li a, #header-wrapper li a a:active a:visited{
			line-height:59px;
			color:#FFF;
		}
		
		#header-wrapper ul li a strong{
			color:#edecec;
		}

	#notewrapper{
		height:40px;
		line-height:40px;
	}
	
	#content-wrapper{
		width:100%;
		padding:10px 0;
	}
		#leftpanel{
			width:214px;
			float:left;
			padding-right:10px;
		}
			
			h1.leftpanel-heading{
				font-size:12px;
				font-weight:bold;
				color:#FFF;
				background:url(../images/leftpanel-header.jpg) no-repeat;
				height:34px;
				line-height:34px;
				text-align:center;
			}
			/**
			ul#leftmenus{
				width:212px;
				float:left;
				border:1px solid #8e8e8e;
			}
			ul#leftmenus, ul#leftmenus li{
				margin:0;
				padding:0;
				list-style:none outside;
				display:block;
			}
			ul#leftmenus li a{
				float:left;
				width:182px;
				line-height:30px;
				height:30px;
				padding-left:30px;
				color:#000;
				text-decoration:none;
				background:#dbdbdb;
				border-bottom:1px solid #FFF;
			}
			ul#leftmenus li a:hover{
				background:#ff8000;
				color:#FFF;
			}
			**/
		#rightpanel{
			width:100%;
			float:left;
		}
			#rightpanel-top{
				height:23px;
				line-height:23px;
				background:url(../images/rightpanel-top.jpg) repeat-x;
				border:1px solid #fdd1a4;
				padding:4px 10px;
				
			}
			
			#rightpanel-top,
			#notewrapper,
			#header-wrapper{
				overflow:hidden;
			}
		
			#rightpanel-content{
				border:1px solid #a2a2a2;
				background:#FFF url(../images/rightpanel-content.jpg) no-repeat left top;
				padding:10px 10px;
				min-height:259px;
				height:auto !important;
				height:259px;
				margin-top:1px;
				
				color:#7b7b7b;
			}
	
				ul.menubuttons, ul.menubuttons li{
					margin:0;
					padding:0;
					list-style:none outside;
					display:inline;
					
				}
				
				ul.menubuttons li a, ul.menubuttons li a:active a:visited{
					height:21px;
					line-height:21px;
					border:1px solid #e96005;
					float:left;
					padding:0 15px;
					margin-right:5px;
					background:url(../images/menubuttons.jpg) repeat-x;
					color:#FFF !important;
					text-decoration:none !important;
				}
				
				ul.menubuttons li a:hover{
					background:url(../images/menubuttons-hover.jpg) repeat-x;
					border-color:#000;
				}
				
				h1.leftpanel-selected{
					font-size:11px;
					font-weight:normal;
					line-height:30px;
					border-bottom:1px dashed #e8e8e8;
					margin-bottom:10px;
				}
				
				.sorting-width-settings{
					width:250px;
					font-size:11px;
				}
				
				.first-column-width-settings{
					width:150px;
				}
				
				table.field-details, table.field-listings{
					width:100%;
				}
				table.field-listings{
					background:#cdcdcd;
				}
				table.field-listings tr td{
					background:#FFF;
				}
				table.field-listings tr th{
					background:#797979;
					color:#FFF;
				}
				table.field-listings tr td, table.field-listings tr th{
					padding:3px 5px;
				}
				
				/** IE6 Solution **/
				table.field-listings tr.tr-highlight td{	
					background:#FFF;
				}
				table.field-listings tr.tr-highlight-over td, 
				table.field-listings tr.tr-highlight-over td a, 
				table.field-listings tr.tr-highlight-over td a a:active a:visited{
					background:#eeeeee;
					color:#ff8000;
				}
				
				
				ul.action-list, ul.action-list li{
					margin:0;
					padding:0;
					list-style:none outside;
					display:inline;
				}
				ul.action-list li{
					padding-right:10px;
				}
				
				/** Pagination Settings **/
					
					
					
					ul.pagination, ul.pagination li{
						list-style:none outside;
						display:inline;
						margin:0;
						padding:0;
						color:#FFF;
						font-size:11px;
						
					}
					
					ul.pagination li{
						float:left;
						text-align:center;
						background:#ACACAC;
						margin-right:1px;
						padding:0 5px;
						border:1px solid #676767;
					}
				
					
					ul.pagination li a, ul.pagination li a a:active a:visited{
						float:left;
						color:#ffffff !important;
						text-decoration:none !important;
						font-size:11px;
					}
					ul.pagination li a.page-active, ul.pagination li a:hover {
						color:#000 !important;
						text-decoration:underline !important;
					}
				
			p.footer{
				float:left;
				width:100%;
				text-align:center;
				padding:20px 0;
			}
