@charset "utf-8";
/* CSS Document */

@import url("admin-settings.css");
@import url("login-settings.css");

*{
	padding:0;
	margin:0;
	outline:none;
}
img{
	border:none;
}
a, a:active, a:visited{
	color:#01528f;
	text-decoration:underline;
}

hr{
	margin:10px 0;
	border-top:1px solid #CCC;
	border-bottom:none;
	border-right:none;
	border-left:none;
	
}

/**
a:visited{
	color:#008000;
}
**/

a:hover{
	text-decoration:none;
}

.FL{ float:left;}
.FR{ float:right;}
.clear{ clear:both;}

.red{ color:#F00;}
.green{ color:#008000 }

small{ font-size:11px; line-height:20px;}

p{ padding-bottom:20px;}



ul, ol{ list-style-position:outside; margin:0 0 0 40px;}


input, textarea, select{
	width:98%;
	color:#585858;
	font-size:11px;
	display:block;
}


input.checkbox-settings{
	width:30px;
}

body{
	font:11px/16px Arial, Helvetica, sans-serif normal normal;
	color:#000;
	background:#eeeeee url(../images/body.jpg) repeat-x;
	padding:0 20px;
}