@charset "utf-8";
/* CSS Document */


#loginbody{
	background:#eeeeee;
	padding-top:140px;
}
	#loginwrapper{
		width:288px;
		margin:0 auto;
		padding:0 20px;
		background:url(../images/login/footer.jpg) no-repeat center bottom;
	}
		#loginheader{
			width:268px;
			height:33px;
			line-height:33px;
			padding:0 10px;
			margin-bottom:1px;
			background:url(../images/login/header.jpg) no-repeat;
			font-weight:bold;
			color:#FFF;
		}
		
		.loginbody{
			width:266px;
			border:1px solid #3ea102;
			background:#FFF;
			padding:10px 10px;
		}
		
		
		
	